body {
    background-color: wheat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1,h2,h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;    
}
input[type="text"] {
    font-size: 24px; 
    text-align: center;
    width: 400px; 
}
input[type="submit"] {
    font-size: 24px; 
    text-align: center;
    width: 200px; 
}